<template>
  <div>
    <h1 class="title">Nuevo !</h1>
    <form @submit.prevent="saveVehicle">
      <p v-if="errors.length">
        <b>Por favor, corrija el(los) siguiente(s) error(es):</b>
        <ul>
          <li v-for="error in errors" :key="error">{{ error }}</li>
        </ul>
      </p>
      <div class="field">
        <label class="label">Vehiculo</label>
        <div class="control">
          <input
            type="text"
            v-model="vehicle.name"
            class="input"
            placeholder="Nombre"
          />
        </div>
      </div>
      <div class="field">
        <label class="label">Tipo</label>
        <div class="control">
          <select v-model="vehicle.id_type_vehicle" class="form-control">
            <option v-for="typeVehicle in typeVehicles" :key="typeVehicle.id_type_vehicle" :value="typeVehicle.id_type_vehicle">
              {{typeVehicle.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="field">
        <label class="label"># Llantas</label>
        <div class="control">
          <input
            type="number"
            v-model="vehicle.tires"
            class="input"
            placeholder="# Llantas"
          />
        </div>
      </div>
      <div class="field">
        <label class="label">Caballos de Fuerza</label>
        <div class="control">
          <input
            type="number"
            v-model="vehicle.hp"
            class="input"
            placeholder="Caballos de Fuerza"
          />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-primary">Guardar</button>
        </div>
        <div class="field">
          <div class="control">
            <a @click="$router.go(-1)">Regresar</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>
 
<script>
import axios from "axios";
import authHeader from '../services/auth-header';
import validateForm from '../services/validateForm';

export default {
  name: "AddVehicleForm",
  data() {
    return {
      vehicle: {
        name: "",
        id_type_vehicle: "",
        tires: "",
        hp: "",
      },
      typeVehicles: [],
      errors: []
    };
  },
  created() {
    this.getTypeVehicles();
  },
  methods: {
    async saveVehicle() {
      try {
        this.errors = validateForm(this.vehicle);

        if(this.errors.length > 0)
        {
          e.preventDefault();
          return
        }
        await axios.post("vehicles", this.vehicle, { headers: authHeader() });
        this.$router.push("/list");
      } catch (error) {
        console.log(error);
        alert(error.message);
        switch (error.response.status) {
          case 401:
            localStorage.removeItem("user");
            this.$router.push("/");
            break;
        }
      }
    },
    async getTypeVehicles() {
      try {
        const response = await axios.get('typevehicles', { headers: authHeader() });
        this.typeVehicles = response.data;
      } catch (error) {
        console.log(error);
        alert(error.message);
        switch (error.response.status) {
          case 401:
            localStorage.removeItem("user");
            this.$router.push("/");
            break;
        }
      }
    },
  },
};
</script>