<template>
  <div>
    <h1 class="title"> Editar</h1>
    <form @submit.prevent="updateVehicle">
      <p v-if="errors.length">
        <b>Por favor, corrija el(los) siguiente(s) error(es):</b>
        <ul>
          <li v-for="error in errors" :key="error">{{ error }}</li>
        </ul>
      </p>
      <div class="field">
        <label class="label">Vehiculo</label>
        <div class="control">
          <input
            type="text"
            v-model="vehicle.name"
            class="input"
            placeholder="Nombre"
          />
        </div>
      </div>
      <div class="field">
        <label class="label">Tipo</label>
        <div class="control">
          <select v-model="vehicle.id_type_vehicle" class="form-control">
            <option v-for="typeVehicle in typeVehicles" :key="typeVehicle.id_type_vehicle" :value="typeVehicle.id_type_vehicle">
              {{typeVehicle.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="field">
        <label class="label"># Llantas</label>
        <div class="control">
          <input
            type="number"
            v-model="vehicle.tires"
            class="input"
            placeholder="# Llantas"
          />
        </div>
      </div>
      <div class="field">
        <label class="label">Caballos de Fuerza</label>
        <div class="control">
          <input
            type="number"
            v-model="vehicle.hp"
            class="input"
            placeholder="Caballos de Fuerza"
          />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button style="margin-left: 10px" class="button is-primary">Guardar</button>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <a @click="$router.go(-1)">Regresar</a>
        </div>
      </div>
    </form>
  </div>
</template>
 
<script>
import axios from "axios";
import authHeader from '../services/auth-header';
import validateForm from '../services/validateForm';
 
export default {
  name: "EditVehicleForm",
  data() {
    return {
      vehicle: {
        name: "",
        id_type_vehicle: "",
        tires: "",
        hp: "",
      },
      typeVehicles: [],
      errors: []
    };
  },
  created() {
    this.getVehicleById();
    this.getTypeVehicles();
  },
  methods: {
    goBack(e) {
      e.preventDefault();
      this.$router.go(-1)
    },
    async getVehicleById() {
      try {
        const response = await axios.get(`vehicles/${this.$route.params.id}`, { headers: authHeader() });
        (this.vehicle.name = response.data.name), (this.vehicle.id_type_vehicle = response.data.id_type_vehicle), (this.vehicle.tires = response.data.tires), (this.vehicle.hp = response.data.hp);
      } catch (error) {
        console.log(error);
        alert(error.message);
        switch (error.response.status) {
          case 401:
            localStorage.removeItem("user");
            this.$router.push("/");
            break;
        }
      }
    },
    async getTypeVehicles() {
      try {
        const response = await axios.get('typevehicles', { headers: authHeader() });
        this.typeVehicles = response.data;
      } catch (error) {
        console.log(error);
        alert(error.message);
        switch (error.response.status) {
          case 401:
            localStorage.removeItem("user");
            this.$router.push("/");
            break;
        }
      }
    },
    async updateVehicle(e) {
      try {
        this.errors = validateForm(this.vehicle);

        if(this.errors.length > 0)
        {
          e.preventDefault();
          return
        }
        await axios.put(`vehicles/${this.$route.params.id}`, this.vehicle, { headers: authHeader() });
        this.$router.push("/list");
      } catch (error) {
        console.log(error);
        alert(error.message);
        switch (error.response.status) {
          case 401:
            localStorage.removeItem("user");
            this.$router.push("/");
            break;
        }
      }
    },
  },
};
</script>