<template>
  <div>
    <h1 class="title">Login</h1>
    <form @submit.prevent="loginEvent">
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input
            type="text"
            v-model="email"
            class="input"
            placeholder="Email"
          />
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input
            type="password"
            v-model="password"
            class="input"
            placeholder="Password"
          />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-primary">Login</button>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
import axios from "axios";

export default {
  name: "LoginForm",
  data() {
    return {
      email: "test@gilasw.mx",
      password: "test.gilasw",
    };
  },
  methods: {
    async loginEvent() {
      try {
        await axios
          .post(`login`, {
            email: this.email,
            password: this.password,
          })
          .then((response) => {
            console.log(response);
            if (response.data.token) {
              localStorage.setItem("user", JSON.stringify(response.data));
            }

            this.$router.push("/list");
            return response.data;
          });
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>