<template>
  <div>
    <h1 class="title">Vehiculos</h1>
    <router-link :to="{ name: 'AddVehicle' }" class="button is-primary"
      >Nuevo</router-link
    >
    <table class="table is-striped is-fullwidth">
      <thead>
        <tr>
          <th>Vehiculo</th>
          <th>Tipo</th>
          <th>Llantas</th>
          <th>Caballos de Fuerza</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="vehicle in vehicles" :key="vehicle.id_vehicle">
          <td>{{ vehicle.name }}</td>
          <td>{{ vehicle.type_vehicle }}</td>
          <td>{{ vehicle.tires }}</td>
          <td>{{ vehicle.hp }}</td>
          <td>
            <router-link
              :to="{ name: 'EditVehicle', params: { id: vehicle.id_vehicle } }"
              class="button is-info is-small"
              >Editar</router-link
            >
            <button
              class="button is-danger is-small"
              @click="deleteVehicle(vehicle.id_vehicle)"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
 
<script>
import axios from "axios";
import authHeader from '../services/auth-header';

export default {
  name: "Vehicles",
  data() {
    return {
      vehicles: [],
    };
  },
  created() {
    this.getVehicles();
  },
  methods: {
    async getVehicles() {
      try {
        const response = await axios.get("vehicles", { headers: authHeader() });
        this.vehicles = response.data;
      } catch (error) {
        console.log(error);
        alert(error.message);
        switch (error.response.status) {
          case 401:
            localStorage.removeItem("user");
            this.$router.push("/");
            break;
        }
      }
    },
    async deleteVehicle(id) {
      try {
        await axios.delete(`vehicles/${id}`, { headers: authHeader() });
        this.getVehicles();
      } catch (error) {
        console.log(error);
        alert(error.message);
        switch (error.response.status) {
          case 401:
            localStorage.removeItem("user");
            router.push("Login");
            break;
        }
      }
    },
  },
};
</script>
 
<style>
</style>