<template>
  <AddVehicleForm />
</template>
 
<script>
import AddVehicleForm from "@/components/AddVehicleForm.vue";
export default {
  name: "AddVehicle",
  components: {
    AddVehicleForm,
  },
};
</script>