<template>
  <EditVehicleForm />
</template>
 
<script>
import EditVehicleForm from "@/components/EditVehicleForm.vue";
export default {
  name: "EditVehicle",
  components: {
    EditVehicleForm,
  },
};
</script>